body{background-color: rgb(200,295,435);
font-style: monospace;}
h1{text-align:center;}
p.name{font-size:30px;
text-decoration: underline;
color:red;}
img.img{display: block;
margin-right: auto;
margin-left: auto;}
h2.hh,h3{color:red;}
